{% assign reference_id = '' %}
{% if template contains 'product' %}
	{% assign reference_id = product.id %}
{% elsif template contains 'collection' and collection.metafields.LimeSpot['Personalized'] != 'true' %}
	{% assign reference_id = collection.id %}
{% endif%}
<div class="limespot-recommendation-box ls-recommendation-box" data-box-type="RecentViews" data-host-page="{{ template }}" data-reference-id="{{ reference_id }}" style="display: none;">
	<h3 class="ls-box-title"></h3>
	<div class="limespot-recommendation-box-carousel-container">
		<div class="ls-ul-container limespot-recommendation-box-carousel v-align">
			<ul class="ls-ul limespot-recommendation-box-carousel-shelf">
				<li class="limespot-recommendation-box-item">
					<a class="ls-link">
						<img class="ls-image" />
						<h4 class="ls-title">Loading...</h4>
						<span class="ls-original-price"></span>
						<span class="ls-price"></span>
						<div class="ls-sale-sign-wrap"></div>
					</a>
				</li>
			</ul>
		</div>
		<a class="ls-left-arrow limespot-recommendation-box-carousel-indicator indicator-left">
			<div class="recomm-arrow arrow-left"><img src="https://limespot.azureedge.net/images/snippets/arrow-left.png" alt="<" /></div>
		</a>
		<a class="ls-right-arrow limespot-recommendation-box-carousel-indicator indicator-right">
			<div class="recomm-arrow arrow-right"><img src="https://limespot.azureedge.net/images/snippets/arrow-right.png" alt=">" /></div>
		</a>
		<div class="limespot-paginator-wrap">
			<ul class="ls-paginator limespot-paginator"><li class="limespot-paginator-indicator-item"><span class="limespot-paginator-dot"></span></li></ul>
		</div>
	</div>
</div>
{% comment %}Checksum: 6e8576f2fb04be63786d34042d3169a4{% endcomment %}