<div class="ls-facebook-bar limespot-facebook-bar" style="display: none;">
	<span class="limespot-facebook-links">
		<a class="limespot-facebook-link-border" href="/collections/all">All Products</a>
		<a class="limespot-facebook-link-border" href="#topPicks">Top Picks for You</a>
		<a class="limespot-facebook-link-border ls-gift-activator" href="#gift">Gift Picker</a>
		<a href="/cart">View Cart</a>
	</span>
	<form class="limespot-facebook-search" action="/search" method="post">
		<input class="search-input" name="q" type="text" placeholder="Search" value="" />
	</form>
</div>
{% comment %}Checksum: f995c0521ecb7806f5b775e3d8e2e1fa{% endcomment %}