{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="ls-login-prompt login-prompt-banner" data-prompt-mode="banner" style="display: none;">
	<div class="limespot-banner-new">
		<ly-as-1737734>NEW!</ly-as-1737734>
	</div>
	<div class="login-prompt-banner-sign">
		<div class="ls-login-prompt-authorize login-banner-authorize">
			<div class="v-align">
				<h2 class="ls-login-prompt-banner-unauthenticated-message"></h2>
			</div>
			<div class="login-banner-right v-align">
				<iframe class="ls-login-buttons-frame" data-size="small" frameborder="0" scrolling="false" style="width: 140px; max-height: 24px; max-width: 100%;"></iframe>
				<p class="banner-eula">
					<ly-as-1737735>By logging in you agree to the terms of the</ly-as-1737735> <a class="banner-eula-desktop" href="//legal.limespot.com/privacy-policy/"><ly-as-1737736>Privacy Policy</ly-as-1737736></a><a class="banner-eula-mobile" href="//legal.limespot.com/privacy-policy/"><ly-as-1737736>Privacy Policy</ly-as-1737736></a>.
				</p>
			</div>
		</div>
		<div class="ls-login-prompt-activate login-banner-activate">
			<div class="v-align">
				<h2><ly-as-1737737>Welcome,</ly-as-1737737> <span class="ls-authenticated-user-firstname"></span>! <span class="ls-login-prompt-banner-authenticated-message"></span></h2>

				<a href="#topPicks">
					<button class="prompt-top-picks-button">
						<ly-as-1737738>Top Picks for You</ly-as-1737738>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
{% comment %}Checksum: 5bf5fa01b0e212220a66052500a1f050{% endcomment %}