{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="limespot-authentication ls-authentication" style="display: none;">
	<div class="page-overlay"></div>
	<div class="modal-box limespot-authentication-box ls-authentication-box">
		<div class="background-fader">
			<div style="text-align: right;">
				<button type="button" class="ls-authentication-decline-button authentication-decline-button">×</button>
			</div>
			<h2><ly-as-1737722>Log in to see Top Picks for You!</ly-as-1737722></h2>
			<iframe class="ls-login-buttons-frame" data-size="large" frameborder="0" scrolling="false" style="width: 170px; max-height: 60px;"></iframe>
			<p style="font-size: 14px;">
				<img src="https://limespot.azureedge.net/images/snippets/lock.png" height="14px" /> <ly-as-1737723>Nothing will be posted on your behalf.</ly-as-1737723>
			</p>
			<div class="poweredby-box cell3">
				<a href="http://www.limespot.com/" target="_blank">
					<p><ly-as-1737724>Securely powered by</ly-as-1737724></p>
					<img src="https://limespot.azureedge.net/images/logo.png" />
				</a>
			</div>
		</div>
	</div>
</div>
{% comment %}Checksum: d297554e4234eb336c62be15ef4a9c5d{% endcomment %}