{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="ls-gift-friends-list-box limespot-gift-friends-list-box" style="display: none;">
	<div class="page-overlay"></div>
	<div class="limespot-gift-friends-list-modal">
		<div class="limespot-gift-friends-list-header">
			<h2><ly-as-1737731>Choose a friend...</ly-as-1737731></h2>
			<button type="button" class="limespot-gift-friends-list-close-button ls-gift-friends-list-close">×</button>
		</div>
		<input class="ls-gift-friends-list-search limespot-gift-friends-list-search" placeholder="<ly-as-1737732>Search...</ly-as-1737732>" />
		<div class="limespot-gift-friends-list-container">
			<ul class="ls-gift-friend-ul limespot-gift-friend-ul">
				<li>
					<div class="limespot-gift-friend-entry-container">
						<img class="ls-gift-friend-img limespot-gift-friend-img v-align" />
						<p class="ls-gift-friend-name limespot-gift-friend-name v-align"></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% comment %}Checksum: 1aac2b16710d0577b1606808a81e0846{% endcomment %}