<div class="ls-login-prompt login-prompt-banner" data-prompt-mode="banner" style="display: none;">
	<div class="limespot-banner-new">
		NEW!
	</div>
	<div class="login-prompt-banner-sign">
		<div class="ls-login-prompt-authorize login-banner-authorize">
			<div class="v-align">
				<h2 class="ls-login-prompt-banner-unauthenticated-message"></h2>
			</div>
			<div class="login-banner-right v-align">
				<iframe class="ls-login-buttons-frame" data-size="small" frameborder="0" scrolling="false" style="width: 140px; max-height: 24px; max-width: 100%;"></iframe>
				<p class="banner-eula">
					By logging in you agree to the terms of the <a class="banner-eula-desktop" href="//legal.limespot.com/privacy-policy/">Privacy Policy</a><a class="banner-eula-mobile" href="//legal.limespot.com/privacy-policy/">Privacy Policy</a>.
				</p>
			</div>
		</div>
		<div class="ls-login-prompt-activate login-banner-activate">
			<div class="v-align">
				<h2>Welcome, <span class="ls-authenticated-user-firstname"></span>! <span class="ls-login-prompt-banner-authenticated-message"></span></h2>

				<a href="#topPicks">
					<button class="prompt-top-picks-button">
						Top Picks for You
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
{% comment %}Checksum: 5bf5fa01b0e212220a66052500a1f050{% endcomment %}