{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="ls-facebook-bar limespot-facebook-bar" style="display: none;">
	<span class="limespot-facebook-links">
		<a class="limespot-facebook-link-border" href="/collections/all"><ly-as-1737725>All Products</ly-as-1737725></a>
		<a class="limespot-facebook-link-border" href="#topPicks"><ly-as-1737726>Top Picks for You</ly-as-1737726></a>
		<a class="limespot-facebook-link-border ls-gift-activator" href="#gift"><ly-as-1737727>Gift Picker</ly-as-1737727></a>
		<a href="/cart"><ly-as-1737728>View Cart</ly-as-1737728></a>
	</span>
	<form class="limespot-facebook-search" action="/search" method="post">
		<input class="search-input" name="q" type="text" placeholder="<ly-as-1737729>Search</ly-as-1737729>" value="" />
	</form>
</div>
{% comment %}Checksum: f995c0521ecb7806f5b775e3d8e2e1fa{% endcomment %}