{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="ls-facebook-bar limespot-facebook-bar" style="display: none;">
	<span class="limespot-facebook-links">
		<a class="limespot-facebook-link-border" href="/collections/all"><ly-as-1851458>All Products</ly-as-1851458></a>
		<a class="limespot-facebook-link-border" href="#topPicks"><ly-as-1851459>Top Picks for You</ly-as-1851459></a>
		<a class="limespot-facebook-link-border ls-gift-activator" href="#gift"><ly-as-1851460>Gift Picker</ly-as-1851460></a>
		<a href="/cart"><ly-as-1851461>View Cart</ly-as-1851461></a>
	</span>
	<form class="limespot-facebook-search" action="/search" method="post">
		<input class="search-input" name="q" type="text" placeholder="<ly-as-1851462>Search</ly-as-1851462>" value="" />
	</form>
</div>
{% comment %}Checksum: f995c0521ecb7806f5b775e3d8e2e1fa{% endcomment %}