{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="limespot-loading ls-loading" style="display: none;">
	<div class="limespot-loading-message ls-loading-message">
		<img src="https://limespot.azureedge.net/images/snippets/loading.gif" />
		<h2><ly-as-1737733>Loading Top Picks</ly-as-1737733><span class="ls-loading-user-fullname"></span>...</h2>
	</div>
</div>
{% comment %}Checksum: 41c495d48c7793da3ee0af319c31b701{% endcomment %}