{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="login-prompt-popup ls-login-prompt" data-prompt-mode="popup" style="display: none;">
	<div class="page-overlay"></div>
	<div class="modal-box limespot-authentication-box ls-authentication-box">
		<div class="background-fader">
			<div style="text-align: right;">
				<button type="button" class="login-prompt-popup-decline-button ls-login-prompt-decline-button">×</button>
			</div>
			<div class="ls-login-prompt-authorize">
				<h2 class="ls-login-prompt-popup-unauthenticated-main-text"></h2>
				<h3 class="ls-login-prompt-popup-unauthenticated-sub-text"></h3>
				<iframe class="ls-login-buttons-frame" data-size="large" frameborder="0" scrolling="no" style="min-width: 170px; max-height: 60px;"></iframe>
				<p style="font-size: 14px;">
					<img src="https://limespot.azureedge.net/images/snippets/lock.png" height="14px" /> <ly-as-1737739>Posts will not be made without your permission.</ly-as-1737739>
				</p>
			</div>
			<div class="ls-login-prompt-activate">
				<h3>
					<ly-as-1737740>Welcome,</ly-as-1737740> <span class="ls-authenticated-user-firstname"></span>!
				</h3>
				<h2 class="ls-login-prompt-popup-authenticated-main-text"></h2>
				<h3 class="ls-login-prompt-popup-authenticated-sub-text"></h3>
				<a href="#topPicks">
					<button class="prompt-top-picks-button">
						<ly-as-1737741>Top Picks for You</ly-as-1737741>
					</button>
				</a>
			</div>
			<div class="poweredby-box cell3">
				<a href="http://www.limespot.com/" target="_blank">
					<p><ly-as-1737742>Securely powered by</ly-as-1737742></p>
					<img src="https://limespot.azureedge.net/images/logo.png" />
				</a>
			</div>
		</div>
	</div>
</div>
{% comment %}Checksum: 663af9f9220d4837965f986283901b2e{% endcomment %}