{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="limespot-recommendation-box ls-recommendation-box" data-box-type="Related" data-host-page="{{ template }}" data-reference-id="{{ product.id }}"{% if dontPrioritize == true %}data-dont-prioritize="true" {% endif %} style="display: none;">
	<h3 class="ls-box-title"></h3>
	<div class="limespot-recommendation-box-carousel-container">
		<div class="ls-ul-container limespot-recommendation-box-carousel v-align">
			<ul class="ls-ul limespot-recommendation-box-carousel-shelf">
				<li class="limespot-recommendation-box-item">
					<a class="ls-link">
						<img class="ls-image" />
						<h4 class="ls-title"><ly-as-1737745>Loading...</ly-as-1737745></h4>
						<span class="ls-original-price"></span>
						<span class="ls-price"></span>
						<div class="ls-sale-sign-wrap"></div>
					</a>
				</li>
			</ul>
		</div>
		<a class="ls-left-arrow limespot-recommendation-box-carousel-indicator indicator-left">
			<div class="recomm-arrow arrow-left"><img src="https://limespot.azureedge.net/images/snippets/arrow-left.png" alt="<" /></div>
		</a>
		<a class="ls-right-arrow limespot-recommendation-box-carousel-indicator indicator-right">
			<div class="recomm-arrow arrow-right"><img src="https://limespot.azureedge.net/images/snippets/arrow-right.png" alt=">" /></div>
		</a>
		<div class="limespot-paginator-wrap">
			<ul class="ls-paginator limespot-paginator">
				<li class="limespot-paginator-indicator-item">
					<span class="limespot-paginator-dot"></span>
				</li>
			</ul>
		</div>
	</div>
</div>
{% comment %}Checksum: 9b77ea3a14d3434f8d60fe6c7290231c{% endcomment %}