{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<h1 class="page-title">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{% assign 23e24a69d442f22750eabe0e3d8cf6fa = ly_translation %}{{ 23e24a69d442f22750eabe0e3d8cf6fa }}{% comment %}ly_code_replace_end{% endcomment %}</h1>

{% include 'breadcrumbs' %}

<div class="blog-wrapper">

  {% include 'blog-sidebar' %}

  {% paginate blog.articles by settings.articles-per-page %}

    <div class="blog-posts">
      {% for article in blog.articles %}
        {% include 'article-list-item' %}
      {% else %}
        <span class="empty">{% comment %}ly_i18n_replace_for_[ 'blogs.blog.empty' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.blog.empty' | t }}{% endcapture %}{% include 'ly-static-string' with '1294369' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
      {% endfor %}

      {% if paginate.previous or paginate.next %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  {% endpaginate %}

  {% if settings.blog-promo %}
    {% include 'blog-promo' %}
  {% endif %}

</div>
