{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'collections.listing.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.listing.header' | t }}{% endcapture %}{% include 'ly-static-string' with '1294488' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

{% include 'breadcrumbs' %}

{% assign using-linklist = false %}
{% if linklists[settings.collection-listing-linklist] and linklists[settings.collection-listing-linklist].links.size > 0 %}
  {% assign using-linklist = true %}
{% endif %}

<div class="collections-list rows-of-{{ settings.collections-per-row }}">
  {% if using-linklist %}
    {% for link in linklists[settings.collection-listing-linklist].links %}{% include 'collection-list-item' with 'linklist' %}{% endfor %}
  {% else %}
    {% assign collections_per_page = settings.collections-per-row | times: settings.collections-number-of-rows %}
    {% paginate collections by collections_per_page %}
      {% for collection in collections %}
        {% include 'collection-list-item' %}
      {% endfor %}
      {% include 'pagination' %}
    {% endpaginate %}
  {% endif %}
</div>
